:root{
    font-size: calc(1vh + 1vw + 10px);
}
*{
    margin: 0;
    padding: 0;
}
.wallpaper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: repeat url('toolsbox/bg.jpg');
    opacity: 80%;
}

/* nav bar */
.navCont{
    height: 12vw;
    width: 100vw;
    overflow: hidden;
    margin-top: 2%;
}
nav{
    display: flex;
    align-items: center;
    background: rgb(223, 228, 222);
    opacity: 80%;
    height: 100%;
    width: 100%;
}
nav .logo{
    width: 20%;
    height: 70%;
    overflow: visible;
    position: relative;
    margin-left: 5%;
}
nav .logo img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  height: 200px;
  width: 100px;
  
}
nav .title{
    font-size: 0.8rem;
    color: rgb(82, 163, 35);
    margin-right: 10%;
    margin-left: auto;
}
nav .add{
    margin-right: 5%;
    margin-left: auto;
    height: 70%;
    width: 10%;
}
.add button{
    height: 100%;
    width: 100%;
    color: rgb(82, 163, 35);
    font-size: 1.5rem;
    font-weight: 1000;
}

/* frame */
.frame{
    margin: 2%;
    width: auto;
    height: 80%;
    /* background-color: blue; */
    overflow: auto;
}
.frame .container{
    display: grid;
}
.frame .container .shelf{
    display: grid;
    grid-template-columns: repeat(auto-fit, 10%);
    justify-items: center;
    margin-left: 5%;
}
.shelfBg{
    background-image: url('toolsbox/shelf.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 100%;
    height: 60px;
}


/* info icon */
.gitBtnCont{
    background-color: green;
    margin-top: auto;
    margin-bottom: 2rem;
}